<!Zoom map code adapted from http://bl.ocks.org/michellechandra/0b2ce4923dc9b5809922 and https://bl.ocks.org/mbostock/4699541>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=3">

    <title>PEDIATRIC LOCATIONS</title>
</head>

<body>
  <div id="individual-content">
    <h1>Sign up</h1>
  </div>
</body>



